* {
  padding: 0;
}

li {
  list-style-type: none;
}
.container {

    .block {
      border: 1px solid black;
      height: 25vh;
      width: 25vh;
      box-shadow: 0 1vh 1vh -2px rgba(116, 114, 114, 0.2);
      z-index: 999;
      overflow-y: auto;
      .users {
        display: none;

      }

      .month {
        display: block;
        text-align: center;
      }

      &:hover .users {
        display: block;
      }
      &:hover .month {
        display: none;
      }
    }



}
